/* Popup styling */

/* Background overlay */

.kontakt-overlay {
    position: fixed;
    inset: 0;
    background-color: #F8F0E2;
    display: none; /* er som standard gemt */
    justify-content: center;
    align-items: flex-start;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.kontakt-overlay.active {
    display: flex;
    opacity: 1;
    z-index: 1002;
}

.kontakt-overlay.active .kontakt-container {
    transform: translateY(0);
}

.kontakt-container {
    position: relative;
    background: #F8F0E2;
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 100%;

    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.luk-kontakt-overlay {
    position: absolute;
    top: 10px;
    right: -10px;
    padding: 10px 10px;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    z-index: 100;
}

.kontakt-formular {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kontakt-formular h2 {
    margin: 0 0 20px 0;
}

.kontaktinfo {
    width: 80%;
    text-align: center;
    margin: 0 auto 30px auto;
}

.input-gruppe {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-gruppe label {
    margin-bottom: 5px;
    font-family: 'playfair display', serif;
    text-align: left;
}

.input-gruppe input, .input-gruppe textarea {
    border-radius: 12px;
    border: 1px #1a1a1a solid;
    box-sizing: border-box;
    font-family: 'source sans 3', sans-serif;
    padding: 10px;
}

.input-gruppe textarea { /* problem på skærme mindre end 720px i højde */
    min-height: 170px;
    resize: vertical;
}

.send-button:active {
    transform: scale(0.98);
}

/* lille mobil */

@media screen and (min-width: 320px) {
    
}


@media screen and (min-width: 480px) {
    
}

/* tablet */

@media screen and (min-width: 768px) {
    .kontaktinfo {
        width: 70%;
    }
    
    .kontakt-formular {
        width: 80%;
    }
}

/* laptop */

@media screen and (min-width: 1200px) {
    .kontaktinfo {
        width: 50%;
    }

    .kontakt-formular {
        width: 70%;
    }

    .kontakt-container {
        padding: 250px 0 0 0;
    }
}