.kontakt-sektion {
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
}

.kontakt-tekst {
    margin-bottom: 15px;
    line-height: 1.4;
    margin: 0 20px;
}

.kontaktformular div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px 0 20px;
}

.input-gruppe input, .input-gruppe textarea {
    width: 100%;
}


.button {
    display: inline-block; /* gør knappen inline-block for bedre kontrol */
    margin: 15px 0; 
    padding: 8px 20px; 
}

/* Billede skjult på mobil */
.kontakt-billede {
    display: none;
}


@media screen and (max-width: 360px) {
    .kontakt-sektion {
        padding: 25px 20px; 
    }

    .kontakt-formular input,
    .kontakt-formular textarea {
        padding: 5px 7px;
    }
}

@media screen and (min-width: 480px) {
    .kontakt-sektion {
        padding: 30px 40px; 
    }

    .kontakt-tekst {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .kontakt-sektion {
        padding: 35px 50px;
    }

    .kontaktformular {
        margin: 0 90px;
    }
}

@media screen and (min-width: 1200px) {
    .kontakt-sektion {
        max-width: 100%;
        padding: 40px 20px;
    }

    .kontakt-tekst {
        margin-bottom: 30px;
    }

    .kontaktformular {
        margin: 0 220px;
    }

    .button {
        margin-bottom: 30px;
        padding: 10px 100px;
    }

    /* Vis billedet på desktop */
    .kontakt-billede {
        display: block;
    }

    .kontakt-billede img {
        max-width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        pointer-events: none;
        padding-top: 10px;
        margin-bottom: 40px;
    }
}